# 阅读笔记

** 作者：方跃文 **

** Email: fyuewen@gmail.com **

** 时间：始于2018年11月17日， 结束写作于 2018年






# 第七章 数据规整化：清理、转换、合并、重塑

PANDAS 的产生是以运用为导向的，因此它包含了许多实际工作中需要的数据清理方式。

## 合并数据集

pandas对象可以通过一些内置的方法进行合并：

- pandas.merge, 可以根据一个或者多个key将数据进行连接

- pandas.concat ， 可以沿着一条轴将多个数据堆叠在一起。

- 实例方法中的 combine.fist 可以将重复的数据编排在一起，并且用一个对象中的值填缺另一个对象中的缺失值。

### 数据库风格的DataFrame合并 (database-style DataFrame joins)

Pands 中的merge，允许我们根据一个或者多个keys来合并datasets，这种操作实现类似于基于SQL数据中的 join 方法。

In [22]:
import pandas as pd

def special_sign(sign, times):
    # sign is string, times is integer
    str_list = sign*times
    new_str = ''.join([i for i in str_list])
    return(new_str)

df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1': range(7)})
df2 = pd.DataFrame({'key': list('abd'),
                   'data2': range(3)})
print(df1)
print(special_sign('#',15))
print(df2)

## many-to-one join; without specifying which column to join on
pd.merge(df1, df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
###############
  key  data2
0   a      0
1   b      1
2   d      2

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [1]:
## many-to-one join; wit specifying which column to join on
pd.merge(e)

['b', 'b', 'a', 'c', 'a', 'a', 'b']

# Appendix during writing this note

## define a function which returns a string with repeated letters

In [18]:
# Ref: https://stackoverflow.com/questions/38273353/how-to-repeat-individual-characters-in-strings-in-python
def special_sign(sign, times):
    # sign is string, times is integer
    str_list = sign*times
    new_str = ''.join([i for i in str_list])
    return(new_str)

print(special_sign('*',20))

********************